<%= include_gon %>
<div class="errors" id="error"></div>
<div class="event" id="events"></div><br>

<div id="infobar">
  <div class="jumbotron">
    <div class="row">
      <div id="col-md-4" >
        <button id="save-button" class="btn btn-danger">Save</button>
      </div>
      <!-- <div class="col-md-3"></div> -->
      <div class="col-md-8">
        <div class="timer">
          <span id="minutes"></span><span> minutes</span>
          <span id="seconds"></span><span> seconds left to save Christmas!</span>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="click-subsection">
    <h2 id="nickname"></h2>
    <h3 id="toys"></h3>
  </div>

<div>

</div>



<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.js"></script>
<%= content_tag(:div, "", id: 'bunnypath', data:{path_to_asset: asset_path("cat.png")}) %>
<%= content_tag(:div, "", id: 'home', data:{path_to_asset: asset_path("home.png")}) %>
<%= content_tag(:div, "", id: 'home2', data:{path_to_asset: asset_path("home2.png")}) %>

<div id="mapdiv"><canvas id="gamecanvas" width = "1600" height = "800"></canvas></div>
<script>
//initMap();
</script>
