<%= include_gon %>
<div class="errors" id="error"></div>
<div class="event" id="events"></div><br>
  <div id="user-options">
    <button id="save-button">Save</button>
  </div>
<div class="timer">
  <span id="minutes"></span><span> minutes</span>
  <span id="seconds"></span><span> seconds left to save Christmas!</span>
</div>
  <div id="click-subsection">
    <h2 id="nickname"></h2>
    <h3 id="toys"></h3>
  </div>

<div>

</div>
<div id="phaser"></div>


<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
<script src="https://github.com/photonstorm/phaser/releases/download/v2.6.2/phaser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.js"></script>
<%= content_tag(:div, "", id: 'bunnypath', data:{path_to_asset: asset_path("cat.png")}) %>
<%= content_tag(:div, "", id: 'home', data:{path_to_asset: asset_path("home.png")}) %>
<%= content_tag(:div, "", id: 'home2', data:{path_to_asset: asset_path("home2.png")}) %>

<div id="mapdiv"><canvas id="gamecanvas" width = "1600" height = "800"></canvas></div>
<script>
//initMap();
</script>
