


<div>

  <canvas  id="demoCanvas" width="800" height="800" >



  </canvas>

</div>
<div id="phaser"></div>


<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
<script src="https://github.com/photonstorm/phaser/releases/download/v2.6.2/phaser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.js"></script>
<%= content_tag(:div, "", id: 'bunnypath', data:{path_to_asset: asset_path("cat.png")}) %>
<%= content_tag(:div, "", id: 'home', data:{path_to_asset: asset_path("home.png")}) %>
<%= content_tag(:div, "", id: 'home2', data:{path_to_asset: asset_path("home2.png")}) %>



<div id="map"  ></div>
<img id="mapimg"></img>
<div id="mapdiv"><canvas id="gamecanvas"></canvas></div>
<script>



//initMap();
</script>
