<% provide(:title, 'About') %>

<h1>About Penguin-Powered Industry</h1>

<h2> How to Play </h2>

<h3> The Basics </h3>

<h4> You are Santa Claus and, following a series of labour disputes from elven unions in the North Pole,
  you have been forced to flee into the desolate wasteland that is the South Pole. With only a few short days until Christmas arrives,
  you find yourself straggling to gather up countless penguins and put them to work building your famous, quality Santa Inc. Toys </h4>

<p> Penguin-Powered Industry is a very simple game to play. You begin with nothing - abandoned on a desolate tundra, you must build toys by hand.
  To do so, simply click on the 'clicking area', located in the top-left corner of the game board. </p>

<p> When you have obtained enough toys you can invest in infrastructure, constructing countless buildings across your map; these can be purchased
  from the shop on the right hand side. However, these buildings are useless on their own, and your elves are miles away, tearing down your empire.
  Therefore you must capture and employ nature's elf - the penguin.</p>

<p> Penguins can be purchased from the area below the clicking area. Once you have purchased a penguin, they can be moved into a building by clicking
  on the 'penguin pen', which lists your current number of idle penguins. They can then be placed in a building of your choice, assuming they have capacity.
  You can also remove penguins by clicking on a building which currently houses at least one. This allows you to populate a new building without having to purchase more,
  potenailly expensive, penguins.</p>

<h4> Hint: You can hover over most game board elements. After a few seconds, a tooltip will appear giving relevant information on their current state. </h4>

<p> Dependent upon the building type, penguins will produce passive income over time. You can purchase upgrades from the shop that will positively affect the production
  of certain buildings, or your own clicking production. </p>

<h3> Events </h3>

<p> Every once in a while, an event will pop up on your screen - these are sometimes good, sometimes bad. With many events, you will be given a choice between two
  options. An event will only be available to you if you can theoretically fulfill the requirements of either option, but they may not be viable for you to do if you, say,
  lack the requisite number of toys. </p>

<h3> Building Details </h3>

<p> Buildings, as of now, can all be placed on any tundra or shoreline tile - water tiles are invalid for all buildings. Factories take up a 2x2 area, while toy mines and
  labour camps both take up a 1x1. Toy mines are more space efficient than labour camps, but labour camps produce more per penguin.
