<% provide(:title, 'About') %>

<h1>About Penguin Powered Industry</h1>

<p>
Penguin-Powered Industry is a click-based economy game in which the user plays as Santa Claus, scrambling to make enough toys in time for Christmas Eve. Users can sign up / login, at which point they will be redirected to their ‘game page’. From there, users can click to gain currency or they can manage their growing industrial nightmare. Each user has an associated map in which they can place buildings, investing in infrastructure and workers to increase their toy accumulation. In addition, users are bombarded with events occurring around their map and must make decisions to deal with them - often involving trade-offs of short-term and long-term gains, all while the clock ticks down on the game’s finale. The game is singleplayer in nature, but users compete indirectly through online leaderboards accessible through the site.
</p><br>
<p>
‘Clicker games’ are a type of game whose gameplay largely involves the completion and repetition of simple actions (usually clicking) to receive currency. This currency is then used to purchase upgrades or buildings that increase the rate of currency gain or provide a passive income of such.
</p><br>
<p>
As of now, there are a multitude of these games, with Cookie Clicker being the most famous and most well-received. However, despite the continued popularity of the genre amongst certain demographics, they all possess a fairly significant attrition rate which can be tied, in our opinion, to two specific aspects of the game.
</p><br>
<p>
The first aspect, although the less significant, is their never-ending nature. Clicker games, by and large, continue on forever. Since new content cannot be generated forever, the initial goals of the game - purchasing upgrades and buildings - either seizes completely or slows down to a point where progress seems unviable, leading the player to walk away in boredom or frustration.
</p><br>
<p>
The second aspect, and by far the more difficult to deal with, is the monotony - it is, after all, a genre that revolves around mindless repetition. Although several games have made an effort to curb the monotony with achievements and power-ups, they are a band-aid that sours after sufficient game time.
</p><br>
<p>
Penguin-Powered Industry is an attempt to resolve both of these issues with the genre while maintaining the aspects that make these games easy to pick up and impossible to put down - namely, the simple, unchallenging nature of the gameplay combined with a unique theme and aesthetic.
</p><br>
<p>
In Penguin-Powered Industry, you play as Santa Claus. With only a few weeks to go before Christmas Eve, you find yourself without help -- the elves are all on strike! As meeting their demands is simply ludicrous, you scramble to make the toys yourself, engaging in horrifying abuses of penguin and environmental rights to ensure you meet your deadline.
</p><br>