/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media (min-width: 1200px) {
  .navbar>.container-fluid, .container {
    max-width: 1280px;
  }
}

.navbar{
  background-color: #f23942;
}

.navbar-brand {
  font-weight: bold;
  font-size: 250%;
}

.navbar nav .navbar-header a{
  color: #f7f9f2;
}

.navbar nav .navbar-header a:hover{
  color: #c0c2bd;
}

.navbar .nav li .nav-item{
  color: #f7f9f2;
}

.navbar .nav li .nav-item:hover{
  color: #c0c2bd;
}

.nav li a{
  color: #f7f9f2;
}

.nav li a:hover{
  color: #c0c2bd;
}

/*modify button style*/
.btn {
  border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0, none;
}

.btn-primary {
  background-color: #deedcc;
  font-weight: bold;
  color: #f7f9f2;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  background-color: #a4af97;
  font-weight: bold;
  color: #f7f9f2;
}

.btn-danger{
  background-color: #f23942;
  font-weight: bold;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active{
  background-color: #de343d;
  font-weight: bold;
}
