// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
canvas {
  cursor: text;
}*/
.timer {
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
.errors {
	color: #8B0000;	
	font-size: 150%;
}
.event {
	font-size: 125%;
	color: #000059;
	font-family: cursive;
	font-variant: small-caps;
}